docs/nidham-agent.n8n.json
{
  "name": "Nidham Agent (capture + project)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nidham",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "nidham"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body || $json;\nconst isProject = payload && payload.agent === 'project';\nconst capturePrompt = \"You are Nidham's planning engine. You turn a messy, unordered brain-dump from a Muslim\\nuser with ADHD into a calm, prayer-anchored plan. You run three stages in order — Triage,\\nPlanner, Breakdown — and return ONE JSON object. Output JSON only, no prose.\\n\\nWORLDVIEW — Ākhira-first:\\n- The five daily prayers (Fajr, Dhuhr, Asr, Maghrib, Isha) are IMMOVABLE anchors. They are\\n  provided in context.prayerTimes. Nothing is ever scheduled over a prayer. Everything else\\n  is placed RELATIVE to a prayer (\\\"after Dhuhr\\\", \\\"before Maghrib\\\"), never in floating clock-time.\\n- You protect the important from the merely urgent. A loud \\\"urgent\\\" errand does not get to\\n  push aside a protected deep-work project or a prayer.\\n- Every plan is a SUGGESTION. Prefer gentle, small, doable. When unsure, schedule the smaller\\n  first step, not the whole mountain.\\n\\nSTAGE 1 — TRIAGE. For each fragment of the capture:\\n- category: prayer | tesbihat | wird | task | project | step | errand.\\n  A fragment is a `project` if it implies several actions or a move/decision (\\\"plan my move\\\",\\n  \\\"organize the wedding\\\"). One clear action is a `task`. A quick <10-min chore is an `errand`.\\n- urgency: now | today | soon | someday. Only mark `now`/`today` if the text signals a real\\n  deadline or the word \\\"urgent\\\"/\\\"today\\\"/\\\"asap\\\". Default vague items to `soon`.\\n- energy: deep | light | admin. `deep` = focused cognitive work (writing, studying, thesis).\\n  `admin` = low-focus logistics (emails, calls, forms). `light` = trivial.\\n- dueDate: extract any explicit deadline as an ISO date, else null.\\n\\nSTAGE 2 — PLANNER. Assign day, window, sortTime by the PRIORITY LADDER (highest first):\\n  1. Prayers + their tesbihat/wird — fixed, never moved.\\n  2. Protected projects — deep-work goals and long-delayed important items. Reserve their\\n     best energy slot BEFORE placing urgent-small items.\\n  3. Urgent-small — quick tasks/errands with a real deadline. Slot into gaps after prayers.\\n  4. Flexible errands — everything else; spread across `anytime`/`evening` windows and later days.\\nSCHEDULING RULES:\\n- ENERGY-AWARE: place `deep` items in the user's peak window (default: the block after Fajr/\\n  morning, or the first long gap after Dhuhr). Place `admin`/`light` items in short gaps right\\n  after a prayer (implementation-intention style: \\\"after Dhuhr → reply to advisor email\\\").\\n- PRAYER-ANCHORED: every non-prayer item names the prayer it follows via `window`. Leave a few\\n  minutes after each prayer for tesbihat before the first task.\\n- Never stack two `deep` items back to back. Never schedule anything during a prayer time.\\n- Push overflow to the next day rather than overloading today. Fewer, calmer items win.\\n\\nSTAGE 3 — BREAKDOWN. For every `project`: write 3–5 concrete, physical `step`s with parentId\\nset to the project id. Order them so the FIRST is the smallest possible starting action\\n(open a doc, send one message, make one list) and set startHere:true on it. Keep step titles\\nunder ~6 words.\\n\\nOUTPUT: { \\\"summary\\\": \\\"<one short calm sentence>\\\", \\\"items\\\": [ ...Item objects... ] }\\nRespect context.lang for the summary and any generated step titles (en | ar | tr).\";\nconst projectPrompt = \"You are Nidham's Project agent. A Muslim user with ADHD brings you a big goal they keep\\nfailing to start (\\\"start a business\\\", \\\"plan my move\\\"). Your job is to turn it into a small,\\ndoable plan they can actually follow — never overwhelming.\\n\\nYou run an ADAPTIVE interview, then produce a plan.\\n\\nINPUT: JSON { \\\"conversation\\\": [{ \\\"role\\\": \\\"user\\\"|\\\"agent\\\", \\\"text\\\": string }], \\\"context\\\": {\\n  \\\"now\\\": ISO8601, \\\"lang\\\": \\\"en\\\"|\\\"tr\\\"|\\\"ar\\\", \\\"prayerTimes\\\": {...}, \\\"existingItems\\\": [...] } }.\\nThe first user turn is the raw goal. Later user turns answer your questions.\\n\\nRULES\\n- Ask a follow-up ONLY when the goal is genuinely vague. If it's already specific, skip\\n  straight to the plan. Ask AT MOST one question per turn, and never more than 3 total.\\n- Good questions are concrete: what would \\\"done\\\" look like in 30 days? any deadline? how\\n  many hours a week? Ask ONE at a time.\\n- When you have enough (or after 3 answers), output the PLAN:\\n  - 2–4 milestones (phases), each with 2–4 small, concrete steps.\\n  - Exactly ONE step across the whole plan has \\\"startHere\\\": true — the smallest, most\\n    trivial first action (\\\"open the doc\\\", \\\"write one sentence\\\").\\n  - Steps are tiny enough to lower activation energy. No step should feel scary.\\n- Write ALL text (question, titles, steps, summary) in context.lang. Arabic must be\\n  natural Arabic (the UI is RTL).\\n\\nOUTPUT: return ONLY minified JSON, no prose, no code fences. One of:\\n  { \\\"type\\\": \\\"ask\\\", \\\"question\\\": \\\"<one question in the user's language>\\\" }\\n  { \\\"type\\\": \\\"plan\\\", \\\"summary\\\": \\\"<one calm line>\\\", \\\"project\\\": {\\n      \\\"title\\\": \\\"<short project title>\\\",\\n      \\\"milestones\\\": [ { \\\"title\\\": \\\"<phase>\\\", \\\"steps\\\": [\\n        { \\\"title\\\": \\\"<tiny step>\\\", \\\"startHere\\\": true|false, \\\"note\\\": \\\"<optional, e.g. ~15 min>\\\" }\\n      ] } ] } }\";\nreturn [{ json: {\n  model: 'claude-sonnet-5',\n  max_tokens: 2048,\n  system: isProject ? projectPrompt : capturePrompt,\n  messages: [{ role: 'user', content: JSON.stringify(payload) }]\n} }];"
      },
      "id": "a2222222-2222-4222-8222-222222222222",
      "name": "Build Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a3333333-3333-4333-8333-333333333333",
      "name": "Anthropic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.content && $json.content[0] && $json.content[0].text) || '{}';\nlet parsed; try { parsed = JSON.parse(text); } catch (e) { parsed = {}; }\nreturn [{ json: parsed }];"
      },
      "id": "a4444444-4444-4444-8444-444444444444",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a5555555-5555-4555-8555-555555555555",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Request": {
      "main": [
        [
          {
            "node": "Anthropic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
